body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #1e1e2f;
    color: white;
}

header {
    background-color: #161625;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.logo img {
    height: 30px;
    margin-right: 10px;
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    background-color: #1e1e2f;
    color: goldenrod;
    border: 1px solid goldenrod;
    border-radius: 5px;
    padding: 8px 15px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
}

.nav-links a:hover {
    background-color: #e0b052;
    color: #1e1e2f;
}

.nav-actions {
    display: flex;
    align-items: center;
}

.sign-in-btn {
    background-color: #1e1e2f;
    color: goldenrod;
    border: 1px solid goldenrod;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
}

.sign-in-btn:hover {
    background-color: #e0b052;
    color: #1e1e2f;
}

.icons {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #5a5a71;
    border-radius: 50%;
    border-color: transparent;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.icons a:hover {
    background-color: goldenrod;
}

.discord_icon {
    width: 80%;
    height: auto;
}

.x_icon {
    width: 60%;
    height: auto;
}

.settings_icon {
    width: 60%;
    height: auto;
}

.github_icon {
    width: 60%;
    height: auto;
}

